{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types d'gant</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou type d'gant (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/type-gant/add">ajouter un type d'gant</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
           <th>designation</th> <th>(id_type_gant)</th><th>nombre d'gants</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if types_gant | length >= 1 %}
        {% for ligne in types_gant %}
           <tr>
                  <td>{{ ligne.libelle }}</td>
                  <td>{{ ligne.id_type_gant }}</td>
                   <td><span style="color: red">{{ ligne.nbr_gants }}</span></td>
                  <td>
                      <a class="btn btn-outline-danger" href="/admin/type-gant/edit?id_type_gant={{ ligne.id_type_gant }}">editer</a>&nbsp;
                      <a class="btn btn-outline-warning" href="/admin/type-gant/delete?id_type_gant={{ ligne.id_type_gant }}">supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de type d'gant
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
